<template>
  <ul class="container-list">
    <li class="list-element" :class="{'active': currentKey === key}" v-for="(message, key) of messages" :key="key" @click="setMessage(key)">
      <div class="name">{{ message.name }}
        <span>
          {{ message.comments.length }}
        </span>
      </div>
      <div class="text">{{ message.text }}</div>
      <div class="delete" @click.stop="deleteMessage(key)">x</div>
    </li>
    <li class="list-element empty" @click="setNewMessage">
      +
    </li>
  </ul>
</template>

<script>
  export default {
    name: "MessageList",
      props: {
      messages: {
        type: Array,
      },
      currentKey: {
        type: Number,
      }
    },
    data() {
      return {

      }
    },
    methods: {
      setNewMessage() {
        this.$emit("setNewMessage")
      },
      setMessage(key) {
        this.$emit("setMessage", key)
      },
      deleteMessage(key) {
        this.$emit("deleteMessage", key)
      }
    }
  }
</script>

<style lang="scss">
  ul {
    padding: 0;
    margin: 0;
  }
  .container-list {
    margin-right: 20px;
    .list-element {
      list-style: none;
      width: 150px;
      height: 100px;
      border: 2px solid lightgray;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      margin-bottom: 10px;
      overflow: hidden;
      padding: 10px;
      position: relative;
      &.active {
        background-color: #E5E5E5;
      }
      &:hover {
        background: lightgray;
        border: 2px solid darkgray;
        .name {
          border-bottom: 1px solid darkgray;
        }
      }
      &.empty {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
      }
      .name {
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: center;
        span {
          margin-left: auto;
          font-size: 14px;
          font-weight: normal;
        }
      }
      .delete {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: red;
        &:hover {
          color: darkred;
        }
      }
    }
  }
</style>
