<template>
    <div class="message">
      <div class="name">
        <label>
          <input placeholder="Введите название заголовка" v-model="message.name">
        </label>
      </div>
      <div class="text">
        <label>
          <textarea placeholder="Введите текст" @input="setHeightArea" :style="{height: heightArea + 'px'}" v-model="message.text">
          </textarea>
        </label>
        <div class="text-area" ref="textArea">
          {{ message.text }}
        </div>
      </div>
      <button class="button" @click="saveChanges">Сохранить</button>
      <div class="comments">
        <div>Комментарии:</div>
        <div v-if="comments.length">
          <div v-for="(comment, key) of comments" :key="key">
            <div class="comment-name">
              {{ comment.userName }}
              <span class="delete" @click="deleteComment(key)">x</span>
            </div>
            <div class="comment-text">
              {{ comment.text }}
            </div>
          </div>
        </div>
        <label>
          <input placeholder="Введите ваше имя" v-model="newComment.userName">
        </label>
        <label>
          <textarea placeholder="Введите комментарий" v-model="newComment.text"></textarea>
        </label>
        <button class="button" @click="addComment">Добавить комментарий</button>
      </div>
    </div>
</template>

<script>
  export default {
    name: "MessageOpen",
    props: {
      message: Object
    },
    data() {
      return {
        heightArea: 20,
        comments: [],
        newComment: {
          userName: '',
          text: ''
        }
      }
    },
    mounted() {
      this.setHeightArea()
      this.getComments()
    },
    updated() {
      this.getComments()
      this.setHeightArea()
    },
    methods: {
      getComments() {
        this.comments = this.message.comments
      },
      setHeightArea() {
        this.heightArea = this.$refs.textArea.offsetHeight < 20 ? 20 : this.$refs.textArea.offsetHeight
      },
      saveChanges() {
        this.$emit('saveChanges')
      },
      addComment() {
        if (!this.newComment.userName || !this.newComment.text) return false
        this.$emit('addComment', this.newComment)
        this.newComment = {
          userName: '',
          text: ''
        }
      },
      deleteComment(key) {
        this.$emit('deleteComment', key)
        this.getComments()
      }
    }
  }
</script>

<style lang="scss">
  input {
    outline: none;
    border: none;
    &.focused {
      border-bottom: 2px solid lightgray;
    }
  }
  .message {
    display: flex;
    flex-direction: column;
    width: 100%;
    .name {
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
      input {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid lightblue;
        &::placeholder {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    .text {
      position: relative;
      margin-bottom: 20px;
      border-bottom: 1px solid lightblue;
      textarea {
        padding: 0;
        font-size: 14px;
        z-index: 1;
        position: absolute;
        resize: none;
        border: none;
        width: 100%;
        height: auto;
        line-height: 20px;
        &::placeholder {
          font-size: 12px;
          font-weight: normal;
          text-align: center;
        }
      }
      .text-area {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        min-height: 20px;
      }
    }
    .comment-name {
      margin-top: 10px;
      display: flex;
      font-weight: bold;
      font-size: 14px;
      .delete {
        color: red;
        cursor: pointer;
        margin-left: auto;
        &:hover {
          color: darkred;
        }
      }
    }
    .comment-text {
      margin-top: 5px;
      font-size: 12px;
    }
    .button {
      height: 30px;
      background-color: #247EE5;
      border: none;
      border-radius: 2px;
      color: #FFFFFF;
    }
    .comments {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      input {
        width: 100%;
        height: 20px;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 5px;
      }
      textarea {
        width: 100%;
        min-height: 40px;
      }
    }
  }
</style>
