<template>
  <div class="container">
    <MessageList
      :messages="messages"
      :currentKey="currentKey"
      @setMessage="setMessage"
      @setNewMessage="setNewMessage"
      @deleteMessage="deleteMessage"/>
    <MessageOpen
      :message="currentMessage"
      @saveChanges="saveChanges"
      @addComment="addComment"
      @deleteComment="deleteComment"/>
  </div>


</template>

<script>
  import MessageList from "@/components/MessageList";
  import MessageOpen from "@/components/MessageOpen";
  export default {
    name: "app",
    components:{
      MessageList,
      MessageOpen
    },
    data() {
      return {
        messages: [],
        currentMessage: null,
        currentKey: null,
        newMessage: {
          name: '',
          text: '',
          comments: [
          ]
        }
      }
    },
    created() {
      this.getData()
      this.setMessage(0)
    },
    methods: {
      getData() {
        this.messages = JSON.parse(localStorage.getItem('messages')) ? JSON.parse(localStorage.getItem('messages')) : []
      },
      setMessage(key) {
        this.currentMessage = this.messages[key] ? { ...this.messages[key] } : this.setNewMessage()
        this.currentKey = key
      },
      setNewMessage() {
        this.messages.push({ ...this.newMessage })
        this.currentKey = this.messages.length - 1
        localStorage.setItem('messages', JSON.stringify(this.messages))
        return this.currentMessage = { ...this.messages[this.messages.length - 1] }
      },
      saveChanges() {
        this.messages[this.currentKey] = this.currentMessage
        localStorage.setItem('messages', JSON.stringify(this.messages))
        this.getData()
      },
      deleteMessage(key) {
        this.messages.splice(key, 1)
        if (this.currentKey === key) this.setMessage(key - 1)
        localStorage.setItem('messages', JSON.stringify(this.messages))
        this.getData()
      },
      addComment(comment) {
        this.messages[this.currentKey].comments.push(comment)
        localStorage.setItem('messages', JSON.stringify(this.messages))
        this.setMessage(this.currentKey)
        this.getData()
      },
      deleteComment(key) {
        this.messages[this.currentKey].comments.splice(key, 1)
        localStorage.setItem('messages', JSON.stringify(this.messages))
        this.setMessage(this.currentKey)
        this.getData()
      }
    }
  }
</script>
<style lang="scss" >
  body, textarea {
    font-family: Tahoma, Arial, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
  }

  .container {
    width: 500px;
    display: flex;
    margin: 100px auto auto auto;
  }

</style>
